* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
html {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.bg-parallax {
  background-image: url("../assets/images/photo_2023-03-11_23-07-22.jpg");
  height: 100%;
  background-position-y: -510px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-parallax::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.main-wrapper h1 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.13em;
  color: #fff6f6;
  z-index: 1;
  padding: 0 5px;
  text-align: center;
}
.main-wrapper p {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #fff6f6;
  z-index: 1;
  padding: 0 5px;
  text-align: center;
}
.section-main {
  height: 350px;
}
.section-container {
  height: 100%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.section-title {
  font-size: 42px;
  font-weight: 300;
  color: #303030;
  letter-spacing: 0.2em;
}
.section-description {
  font-size: 16px;
  max-width: 500px;
  text-align: center;
  color: #303030;
  letter-spacing: 0.1em;
}
.section-content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}
.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.countdown {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.countdown .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown .time h2 {
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}
.countdown .time-name {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #303030;
}
.wedding-data {
  background: linear-gradient(#ffffff, #e1e1e1);
}
.event-info {
  width: 100%;
  max-width: 380px;
  height: 210px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.event-info + .event-info {
  margin-left: 50px;
}
.info-img-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #303030b4;
  margin: 0 auto 10px;
}
.event-info img {
  width: 100%;
}
.event-row {
  display: flex;
  justify-content: center;
}
.event-row + .event-row {
  margin-top: 5px;
}
.event-row span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
}
.event-row span + span {
  margin-left: 10px;
  font-weight: 300;
  text-align: end;
}
.event-row span + a {
  margin-left: 10px;
  font-weight: 300;
  text-align: end;
  color: #303030;
}
footer {
  display: flex;
}
.when-where-banner {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .countdown .time h2 {
    font-size: 36px;
  }
  .bg-parallax {
    background-position: center;
    background-position-y: unset;
  }
  .event-info + .event-info {
    margin-left: 25px;
  }
}
@media screen and (max-width: 674px) and (min-width: 631px) {
  .event-row span {
    font-size: 14px;
  }
  .event-row a {
    font-size: 14px;
  }
}
@media screen and (max-width: 630px) {
  .event-info + .event-info {
    margin-left: 0;
  }
  .wedding-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-info:first-child {
    margin-bottom: 20px;
  }
  .event-row {
    justify-content: center;
  }
  .event-row span + span {
    text-align: start;
  }
  .event-row span + a {
    text-align: start;
  }
}
@media screen and (max-width: 470px) {
  .countdown .time h2 {
    font-size: 28px;
  }
  .bg-parallax {
    background-position: center;
    background-position-y: unset;
  }
  .countdown {
    gap: 25px;
  }
  .countdown .time-name {
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .section-title {
    font-size: 28px;
    letter-spacing: 0.1em;
  }
}
@media screen and (max-width: 360px) {
  .info-img-container {
    width: 50px;
    height: 50px;
  }
  .event-row span {
    font-size: 13px;
  }
  .event-row a {
    font-size: 13px;
  }
}
